<h2 class="text-center">Please sign in</h2>
<div class="text-center">
  <form [formGroup]="form" class="form mb-3 mt-5" (submit)="submit()">
    <div class="form-group">
      <input
        type="email"
        formControlName="email"
        class="form-control-lg m-2"
        placeholder="Email"
      />
    </div>

    <div class="form-group">
      <input
        type="password"
        formControlName="password"
        class="form-control-lg m-2"
        placeholder="Password"
      />
    </div>

    <button class="btn btn-lg btn-primary btn-block mt-3">Login</button>
  </form>
</div>
<!-- 
<h2 class="text-center">Create a user</h2>

<div class="text-center">
<form [formGroup]="form" class="form mb-3 mt-5" (submit)="submit()">
  <div class="form-group">
    <input type="text" formControlName="name" class="form-control-lg m-2" placeholder="Username" required />
  </div>

  <div class="form-group">
    <input type="text" formControlName="email" class="form-control-lg m-2" placeholder="Email" required />
  </div>

  <div class="form-group">
    <input type="password" formControlName="password" class="form-control-lg m-2" placeholder="Password" required/>
  </div>

  <div class="form-group">
    <input type="password" formControlName="confirm_password" class="form-control-lg m-2" placeholder="Password Confirmation" required/>
  </div>
  <p>{{ errorMessage }}</p>
  <button class="btn btn-lg btn-primary btn-block mt-3" [disabled]="!form.valid">Register</button>
</form>
</div> -->
