<section
  class="d-flex justify-content-center align-items-center header-section mb-4"
>
  <form action="" [formGroup]="searchRecipe" (submit)="search()">
    <div class="text-center">
      <select formControlName="diet" class="mt-1 form-select form-select-sm">
        <option value="" disabled>Select a diet</option>
        <option value="gluten+free">Gluten Free</option>
        <option value="vegan">Vegan</option>
        <option value="vegetarian">Vegetarian</option>
      </select>
      <select formControlName="type" class="mt-1 form-select form-select-sm">
        <option value="" disabled>Mealtypes</option>
        <option value="main+course">Main course</option>
        <option value="breakfast">Breakfast</option>
        <option value="dessert">Dessert</option>
      </select>
      <input
        type="text"
        class="form-control mt-2 mb-2"
        placeholder="Search recipes..."
        formControlName="query"
      />
      <button class="btn-lg btn-primary">Search</button>
    </div>
  </form>
</section>
<section class="container">
  <div class="row gy-4">
    <div class="col-sm-3" *ngFor="let r of recipe">
      <div class="card h-100" (click)="getOneRecipe(r.id)">
        <img src="{{ r.image }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ r.title }}</h5>
          <p class="card-text">
            Some quick example text to build make up the bulk of the card's
            content.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
