<section class="container shadow-lg p-5 my-5 border rounded" *ngIf="recipe">
  <h1 class="text-center">{{ recipe.title }}</h1>
  <img
    src="{{ recipe.image }}"
    class="img-fluid img-thumbnail mx-auto d-block m-5 rounded"
    alt=""
  />
  <p [innerHTML]="recipe.summary"></p>
  <p [innerHTML]="recipe.instructions"></p>

  <section class="d-flex justify-content-center gap-3 my-5" *ngIf="loggedIn">
    <button
      class="btn btn-success dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Add to recipelist
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li
        class="dropdown-item"
        *ngFor="let list of Userlist"
        (click)="addRecipe(recipe.title, recipe.id, list.id)"
      >
        {{ list.title }}
      </li>
    </ul>
  </section>
</section>
